body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
    color: #434455;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}
ul{
    list-style-type: none;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}



.header{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.headercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_header{
    display: flex;
    align-items: center;
}
.spanclass{
    color: #2e2f42;
}
.headerlogo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    position: relative;
}
.headerlist{
    display: flex;
    gap: 40px;
}
.list_adress{
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4,0,0.2,1);
}
.studio{
    color: #404bbf;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}
.studi{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studi:hover{
    color: #404BBF;
}
.headeraddress{
    font-style: normal;
    display: flex;
    gap: 40px;
}
.headeraddress:hover,
.headeraddress:focus{
    color: #404bbf;
}
.headeraddress{
    font-style: normal;
    display: flex;
    gap: 40px;
}
.one{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    gap: 40px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.one:hover,
.one:focus{
    color: #404bbf;
}

/*    First section    */


.section-first{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg); 
    padding: 188px 0;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-size:cover;
    background-position: center;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.section-first-header{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.section-first-btn{ 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}
.section-first-btn:hover{
    background-color: #404BBF;
}
.section-first-btn:focus{
    background-color: #404BBF;
}


/*    Second section    */


.sectionb{
    padding: 120px 0;
}
.containerb{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.sectionb_container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.list_container{
    display: flex;
    gap: 24px;
}
.sectionb-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
}
.sectionb-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.sectionb-list{
    width: calc((100% - 3 * 24px) / 4);
}



/*    Third section    */


.sectionc{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.container{
    padding: 32px 0;
}
.sectionc_list_container{
    display: flex;
    gap: 24px;
}
.same_container{
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;
}
.sectionc-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.svg-icon{
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sending{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.sending:hover{
    background-color: #404BBF;
}
.sending:focus{
    background-color: #404BBF;
}
.img_foto{
    display: block;
}
.sectionc-background{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); ;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
}
.sectionc-ppp{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.sectionc-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


/*    Forth section    */


.sectiond{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding-top: 120px;
    padding-bottom: 120px;
}
.sectiond-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.list_sectiond_container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.img_foto{
    display: block;
}
.sectiond-p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.sectiond-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
}
.sectiond-main{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sectiond-main:hover,
.sectiond-main:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
} 
.container_same{
    position: relative;
    overflow: hidden;
}
.paragraph_element{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(#f4f4fd);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container_same.paragraph_element{
    height: 100%;
    width: 100%;
}
.sectiond-main:hover .paragraph_element{
    transform: translateY(0%);
}
.just_a_try{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}







.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.container_footer{
    display: flex;
    align-items: baseline;
}
.container_footer_second{
    margin-right: 120px;
}
.try{
    display: flex;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.footer_logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;   
}
.span-class{
    color: #f4f4fd;
}
.footer_text{
    font-family: Roboto;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.social_media{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.social_media_list{
    display: flex;
    gap: 16px;
}
.social_media_list_item{
    height: 40px;
    width: 40px;
}
.social_media_link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.social_media_link:hover{
    background-color: #31d0aa;
}
.social_media_link:focus{
    background-color: #31d0aa;
}
.team-icon-svg{
    fill: #f4f4fd;
}


.foot-form{
    margin-left: 80px;
}
.foot-form-label{
    color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;

}
.foot-form-input{
    width: 264px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
border: 1px solid var(--WHITE, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.foot-form-input::placeholder{
    color: var(--WHITE, #FFF);
font-size: 12px;
font-weight: 400;
line-height: 2;
letter-spacing: 0.04px;
}
.foot-form-btn{
    display: inline-flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
color: var(--WHITE, #FFF);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
margin-right: 24px;
}